@page "/Dashboard"

@using CommonLayer.Model;
@using BussinessLAyer.Interfaces

@inject IRegisterBL registerBL

<NavLink class="nav-link" href="Reg">
    <span class="oi oi-plus" aria-hidden="true"></span> Add New
</NavLink>

<h1>Employee Details</h1>
@if (employeeModels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>EmployeeID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>ProfileIMG</th>
                <th>Notes</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in employeeModels)
            {
            <tr>
                <td>@emp.EmployeeId</td>
                <td>@emp.Name</td>
                <td>@emp.Gender</td>
                <td>@emp.Department</td>
                <td>@emp.ProfileImg</td>
                <td>@emp.Notes</td>
                <td>
                    <a class="nav-link" href="Update/@emp.EmployeeId">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                    </a>
                    <a class="nav-link" href="Delete/@emp.EmployeeId">
                        <span class="oi oi-trash" aria-hidden="true"></span> Delete
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    EmployeeModel emp = new EmployeeModel();

    IEnumerable<EmployeeModel> employeeModels;
    protected override async Task OnInitializedAsync()
    {

        employeeModels = await Task.Run(() => registerBL.GetAllEmployee());
    }


}
